.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 10px;

  border-radius: 10px;
  /* background-color: aliceblue; */

  background: rgba(255, 255, 255, 0.8);
}

.title,
.subTitle {
  text-align: center;
}
